<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品平台属性</title>
</head>
<body>
    <table id="attributes" class="easyui-datagrid"
           data-options="toolbar: '#tb',fitColumns:true,singleSelect:true">
        <thead>
        <tr>
            <th data-options="field:'id',width:100">属性编号</th>
            <th data-options="field:'attrName',width:100">属性名称</th>
        </tr>
        </thead>
    </table>

    <br/>

    <div id="tb">
        <br/>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
        <br/>
        <div>
            一级分类：<select data-options="onSelect: function(param){
		                                    var url = 'getCatalog2?catalog1Id='+param.id;
                                           $('#ctg2ForAttrList').combobox('reload', url);
	                                    }
            ,valueField:'id',textField:'name',url:'getCatalog1'"
                         class="easyui-combobox" name="state"  style="width:100px;"></select>
            二级分类：<select data-options="onSelect: function(param){
		                                    var url = 'getCatalog3?catalog2Id='+param.id;
                                           $('#ctg3ForAttrList').combobox('reload', url);
	                                    }
            ,valueField:'id',textField:'name'" name="ctg2ForAttrList" id="ctg2ForAttrList" class="easyui-combobox"   style="width:100px;"></select>
            三级分类：<select data-options="valueField:'id',textField:'name'" name="ctg3ForAttrList" id="ctg3ForAttrList" class="easyui-combobox"  style="width:100px;"></select>
            <a href="javascript:getAttrList();" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">Search</a>
        </div>
        <br/>
    </div>

    <script language="JavaScript">
        function getAttrList() {
            var catalog3Id = $("#ctg3ForAttrList").combobox("getValue");
            $("#attributes").datagrid({url:"getAttrListByCtg3?catalog3Id="+ catalog3Id});
        }
    </script>

</body>
</html>